h1{
	text-align: center;
	text-decoration: underline;
	text-decoration-color: CornflowerBlue;
	text-decoration-thickness: 3px;
	text-underline-offset: 10px;
	font-size: 35px;
}
nav{
	background-color: lightgray;
}
.c1{
	position: absolute;
	background-color: lightpink;
	top: 300px;
	left: 300px;
	width: 350px;
	height: 350px;
	border-radius: 200px;
	background: linear-gradient(45deg,lightyellow,lightpink);
}
.c2{
	position: absolute;
	background-color: lightgreen;
	top: 200px;
	left: 800px;
	width: 350px;
	height: 350px;
	border-radius: 200px;
	background: linear-gradient(45deg,lightyellow,lightgreen);
}
.p1{
	position: absolute;
	background-color: lightpink;
	top: 270px;
	left: 270px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: linear-gradient(45deg,lightyellow,lightpink);
}
.p2{
	position: absolute;
	background-color: lightpink;
	top: 270px;
	left: 570px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: linear-gradient(45deg,lightyellow,lightpink);
}
.p3{
	position: absolute;
	background-color: lightgreen;
	top: 170px;
	left:770px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: linear-gradient(45deg,lightyellow,lightgreen);
}
.p4{
	position: absolute;
	background-color: lightgreen;
	top: 170px;
	left:1070px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: linear-gradient(45deg,lightyellow,lightgreen);
}
li{
	list-style: none;
	text-align: center;
	color: black;
	justify-content: center;
	align-items: center;
	display: flex;
}
a{
	font-size: 35px;
}

header{
	background-color: PowderBlue;
	border-radius: 20px;
	padding: 10px;
	border: 4px dotted CornflowerBlue;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
	text-decoration: underline;
	text-decoration-color: deepskyblue;
	text-decoration-thickness: 3px;
	text-underline-offset: 10px;
}
article{
	background-color: lightcyan;
	padding: 10px;
	border-radius: 20px;
	display: inline-flex;
}
img{
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	display: block;

}
article>section>p{
	border: 2px dotted black;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
}
footer{
	background-color: lightgray;
	border-radius: 20px;
}
p{
	line-height: 1.5;
	word-break: keep-all;
	text-align: center;
	letter-spacing: 0.8px;
}
body{
		background-color: lightyellow;
	}

@media screen and (max-width: 600px) {
	p{
		font-size: 20px;
	}
	article{
		background-color: lightyellow;
		padding: 10px;
		border-radius: 20px;
		display: line-flex;
		flex-direction: column;
	}
	header{
		background-color: Khaki;
		border: 4px dotted darkkhaki;
	}
	h1{
		text-decoration-color: darkkhaki;
		text-decoration-thickness: 3px;
		text-underline-offset: 10px;
		font-size: 40px;
	}
	h2{
		text-decoration-color: khaki;
		font-size: 30px;
	}
	img{
		width: 350px;
		height: 450px;
	}
	.c1{
		position: absolute;
		background-color: lightpink;
		top: 200px;
		left:100px;
		width: 250px;
		height: 250px;
		border-radius: 150px;
		background: linear-gradient(45deg,lightyellow,lightpink);
	}
	.c2{
		position: absolute;
		background-color: lightgreen;
		top: 450px;
		left: 100px;
		width: 250px;
		height: 250px;
		border-radius: 150px;
		background: linear-gradient(45deg,lightyellow,lightgreen);
	}
	.p1{
		position: absolute;
		background-color: lightpink;
		top: 170px;
		left: 80px;
		width: 80px;
		height: 80px;
		border-radius: 40px;
		background: linear-gradient(45deg,lightyellow,lightpink);
	}
	.p2{
		position: absolute;
		background-color: lightpink;
		top: 170px;
		left: 300px;
		width: 80px;
		height: 80px;
		border-radius: 40px;
		background: linear-gradient(45deg,lightyellow,lightpink);
	}
	.p3{
		position: absolute;
		background-color: lightgreen;
		top: 420px;
		left: 80px;
		width: 80px;
		height: 80px;
		border-radius: 40px;
		background: linear-gradient(45deg,lightyellow,lightgreen);
	}
	.p4{
		position: absolute;
		background-color: lightgreen;
		top: 420px;
		left: 300px;
		width: 80px;
		height: 80px;
		border-radius: 40px;
		background: linear-gradient(45deg,lightyellow,lightgreen);
	}
}