h1{
	text-align: center;
	text-decoration: underline;
	text-decoration-color: CornflowerBlue;
	text-decoration-thickness: 3px;
	text-underline-offset: 10px;
	font-size: 35px;
}
nav{
	background-color: lightgray;
}
.c1{
	position: absolute;
	background-color: lightpink;
	top: 300px;
	left: 300px;
	width: 350px;
	height: 350px;
	border-radius: 200px;
	background: linear-gradient(45deg,lightyellow,lightpink);
}
.c2{
	position: absolute;
	background-color: lightgreen;
	top: 200px;
	left: 800px;
	width: 350px;
	height: 350px;
	border-radius: 50px;
	background: linear-gradient(45deg,lightyellow,lightgreen);
}
li{
	list-style: none;
	text-align: center;
	color: black;
	justify-content: center;
	align-items: center;
	display: flex;
}
a{
	font-size: 35px;
}

header{
	background-color: PowderBlue;
	border-radius: 20px;
	padding: 10px;
	border: 4px dotted CornflowerBlue;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
	text-decoration: underline;
	text-decoration-color: deepskyblue;
	text-decoration-thickness: 3px;
	text-underline-offset: 10px;
}
article{
	background-color: lightcyan;
	padding: 10px;
	border-radius: 20px;
	display: inline-flex;
}
img{
	padding: 10px;
}
article>section>p{
	border: 2px dotted black;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
}
footer{
	background-color: lightgray;
	border-radius: 20px;
}
p{
	line-height: 1.5;
	word-break: keep-all;
	text-align: center;
	letter-spacing: 0.8px;
}
