*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	background-color: #C5F6E7;
	padding: 20px;
	position: fixed;
}
h1{
	text-decoration: underline;
	text-decoration-color: #81CBC8;
	text-decoration-thickness: 3px;
	text-underline-offset: 10px;
	font-size: 35px;
	width: 100vw;
	text-align: center;
}
article{
	background-color: #FFBECE;
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer{
	background-color: #CFAAD6;
}
h2{
	text-align: center;
	padding: 30px;
}
nav{
	background-color: #FBDFE7;
	padding-top: 90px;
}
img{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
li{
	list-style: none;
	width: 75vw;
	height: 60px;
}
ul{
	display: flex;
}
section{
	width: 1200px;
	height: 750px;
	border: 3px dotted; black;
	margin: 20px;
}
p{
	padding: 20px;
	line-height: 1.5;
	word-break: keep-all;
	text-align: center;
	letter-spacing: 0.8px;
}

@media screen and (max-width: 900px){
	p{
		font-size: 16px;
	}
	img{
		width: 400px;
		height: 250px;
	}
	section{
		width: 450px;
		height: 700px;
		border: 2px dotted; black;
		margin: 20px;

	}
	article{
		display: line-flex;
		flex-direction: column;
	}
	nav{
		padding-bottom: 30px;
	}
	h1{
		font-size: 36px;
		text-align: center;
	}